.*
!/.gitignore
!/.scala*.*
module-create.sh
/build
/out
nohup.out
.DS_Store
target/
*.iml
atlassian-ide-plugin.xml
*.epoch
*.log
*.lck
*.prefs
.settings/
*.eclipse.*
nohup.out
license*.lic
node_modules
dist
metals.sbt
